/*Nouveaux style CSS*/
.logo-garderie{
    max-width: 30%;
    height: auto;
}

.brand-name{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 90%;
    flex-wrap: wrap;
}

.brand-name h1{
    margin: 0 0 0 10px;
    flex: 1;
}

a {
    color: inherit;
}

.container{
    width: 100% !important;
    padding: 0 15px !important;
    box-sizing: border-box !important;
}

.table{
    width: 100% !important;
    max-width: 1200px !important;
    margin: auto !important;
    overflow: hidden !important;
}

.table-title {        
	padding-bottom: 15px;
	background: #1E646E;
	padding: 16px 30px;
	min-width: 100%;
	border-radius: 10px 10px 0 0;
    overflow: auto;
}
.table-title h1 {
	margin: 5px 0 0;
    text-align: center;
}

.table-content{
    overflow-x: auto !important;
}

table {
    width: 100% !important;
    border-collapse: collapse !important;
}

th, td {
    border-bottom: 1px solid #999 !important;
    text-align: center !important;
}

.table-title .btn{
    float: right;
    background: #B2A59F;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 5px;
    outline: none;
}

.table-title .btn img{
    float: left;
    margin-right: 5px;
}

.table-content img{
    cursor: pointer;
}

.table-content tbody tr:hover{
    background: #1e636e3a;
}

.modal-footer .btn-secondary{
    background: #B2A59F;
}

.modal-footer .btn-primary{
    background: #023459;
}






/* Css Existant */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pirate One', cursive;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2 {
    color: #B2A59F !important;
}

h3 {
    color: #999;
}

.btn {
    background: #023459;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.btn:hover {
    color: #023459 !important;
    background: white !important;
    padding: 3px 8px !important;
    border: 2px solid #023459 !important;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
}

table {
    padding: 10px;
}

th,
td {
    text-align: center;
    padding: 5px;
}

.side-menu {
    position: fixed;
    background: #1E646E;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.side-menu .brand-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-menu li {
    font-size: 24px;
    padding: 10px 40px;
    color: #999;
    display: flex;
    align-items: center;
    margin:20px 0;
}

.side-menu li:hover {
    background: white;
    color: #1E646E;
}

.container {
    position: absolute !important;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f1f1;
}


.container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
}

.container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
}

.container .header .nav .search input[type=text] {
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 50%;
}

.container .header .nav .search button {
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header .nav .search button img {
    width: 30px;
    height: 30px;
}

.container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header .nav .user img {
    width: 40px;
    height: 40px;
}

.container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
}

.container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    background: #f1f1f1;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .content .cards .card {
    width: 250px;
    height: 150px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background: white;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }
    .side-menu {
        align-items: center;
    }
    .side-menu li img {
        width: 40px;
        height: 40px;
    }
    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }
    .container .content .cards {
        justify-content: center;
    }
    .side-menu li img {
        width: 30px;
        height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}